.App {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.App .panel {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
