.App {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}

.App .panel {
  min-width: 35em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
