.OutputConsole {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;

  min-width: 25em;
  flex-grow: 1;

  overflow-y: scroll;

  padding: 8px;
  background-color: #eee9e9;
}

.OutputConsole div.error {
  color: red;
}
