.OutputConsole {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;

  flex-grow: 1;

  overflow: scroll;

  border-left: 2px solid #666;
  padding: 8px;
  background-color: #eee9e9;
}

.OutputConsole div.error {
  color: red;
}
